@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default body styles */
body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: Inter, sans-serif;
}